@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
